/* You can add global styles to this file, and also import other style files */
body {
    background-color: #2a2a2a!important;
}

.pi-angle-right {
    color: transparent!important;
}

p-dropdown {
    width: 100%!important;
    min-width: 100%!important;
    display: block;
}
.p-dropdown {
    width: 100%!important;
    min-width: 100%!important;
    display: block;
}

.yen-img {
    max-width: 100%;
    cursor: pointer;
    object-fit: fit!important;    
    width: 100%;
}


.f-width {
    width: 100%!important;
    min-width: 100%!important;
    display: block;
}