<p-panel header="">
  <h3>Interpolation</h3>
</p-panel>

<div class="m-4"></div>
<div class="row">

  <div class="col-6">
    <!--Start::About-->
    <p-panel header="About">
      <p>
        {{theWitcher}}
      </p>
    </p-panel>
    <!--End::About-->

    <!--Start::Geralt-->
    <div class="m-4"></div>
    <p-panel header="Geralt">
      <h4>Geralt</h4>
      <p>
        {{infoGeralt | json}}
      </p>
      <!--Start::Table-->
      <table style="width: 25rem">
        <tr>
          <td>Name</td>
          <td>{{infoGeralt.name}}</td>
        </tr>
        <tr>
          <td>Occupation</td>
          <td>{{infoGeralt.occupation}}</td>
        </tr>
        <tr>
          <td>Age</td>
          <td>{{infoGeralt.age != null ? infoGeralt.age: 'Unknown' }}</td>
        </tr>
        <tr>
      </table>
      <!--End::Table-->
    </p-panel>
    <!--End::Geralt-->
  </div>

  <div class="col-6">
    <!--Start::Characters-->
    <p-panel header="Characters">
      <p>
        {{characters | json}}
      </p>
      <ul>
        <li *ngFor="let character of characters">{{character}}</li>
      </ul>
    </p-panel>
    <!--End::Characters-->
  </div>

</div>